In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../raw_data/Train_rev1.csv")

In [3]:
df.keys()

Index(['Id', 'Title', 'FullDescription', 'LocationRaw', 'LocationNormalized',
       'ContractType', 'ContractTime', 'Company', 'Category', 'SalaryRaw',
       'SalaryNormalized', 'SourceName'],
      dtype='object')

In [4]:
'''define a list of job jobs/ job cateogries for parsing'''

top_jobs = ['training specialist',
 'helpdesk',
 'technical support',
 'database administrator',
 'it trainer',
 'it support',
 'data architect',
 'tech support',
 'tech sales',
 'sales',
 'product manager',
 'product lead',
 'analytics',
 'software development engineer',
 'full stack software engineer',
 'technical support engineer',
 'site reliability engineer',
 'infrastructure engineer',
 'java software engineer',
 'software test engineer',
 'systems administrator',
 'application developer',
 'c++ software engineer',
 'full stack developer',
 'application engineer',
 'reliability engineer',
 'system administrator',
 'technical consultant',
 'javascript developer',
 'integration engineer',
 'engineering manager',
 'front end developer',
 'solutions architect',
 'technical architect',
 'operations engineer',
 'full stack engineer',
 'technology engineer',
 'application analyst',
 'automation engineer',
 'it support engineer',
 'solution consultant',
 'software developer',
 'back end developer',
 'front end engineer',
 'technology manager',
 'solutions engineer',
 'security architect',
 'support technician',
 'platform engineer',
 'security engineer',
 'solution engineer',
 'back end engineer',
 'marketing manager',
 'systems developer',
 'embedded engineer',
 'systems engineer',
 'support engineer',
 'business analyst',
 'network engineer',
 'engineering lead',
 'python developer',
 'digital engineer',
 'product engineer',
 'quality engineer',
 'security analyst',
 'project engineer',
 'software manager',
 'devops engineer',
 'project manager',
 'support analyst',
 'design engineer',
 'cloud architect',
 'product manager',
 'python engineer',
 'systems analyst',
 'digital manager',
 'react developer',
 'account manager',
 'systems manager',
 'cloud engineer',
 'java developer',
 'technical lead',
 'data scientist',
 'net developer',
 'data architect',
 'azure engineer',
 'linux engineer',
 'data developer',
 'data engineer',
 'test engineer',
 'web developer',
 'java engineer',
 'software lead',
 'site engineer',
 'php developer',
 'data analyst',
 'data manager',
 'aws engineer',
 'c# developer',
 'test analyst',
 'ops engineer',
 'it engineer',
 'qa engineer',
 'it analyst',
 'it manager',
 'scientist',
 'data lead',
 'tech lead',
 'software engineer',
 'engineer',
 'security consultant',
 'consultant',
 'reporting analyst',
 'technologist',
 'technician',
 'data administrator',
 'data warehouse',
 'data migration',
 'database analyst',
 'data entry',
 'security specialist',
 'data specialist',
 'product',
 'data',
 'mobile developer',
 'applications developer',
 'oracle developer',
 'developer',
 'technical trainer',
 'administrator',
 'training manager',
 'visual designer',
 'technical team lead',
 'linux admin',
 'crm developer',
 'delivery manager',
 'graphic design',
 'business intelligence',
 'programmer',
 'team lead',
 'account executive']

In [5]:
'''clean top jobs list'''
top_jobs_cleaned = []
for i in top_jobs:
    top_jobs_cleaned.append(i.lower())
top_jobs_cleaned

['training specialist',
 'helpdesk',
 'technical support',
 'database administrator',
 'it trainer',
 'it support',
 'data architect',
 'tech support',
 'tech sales',
 'sales',
 'product manager',
 'product lead',
 'analytics',
 'software development engineer',
 'full stack software engineer',
 'technical support engineer',
 'site reliability engineer',
 'infrastructure engineer',
 'java software engineer',
 'software test engineer',
 'systems administrator',
 'application developer',
 'c++ software engineer',
 'full stack developer',
 'application engineer',
 'reliability engineer',
 'system administrator',
 'technical consultant',
 'javascript developer',
 'integration engineer',
 'engineering manager',
 'front end developer',
 'solutions architect',
 'technical architect',
 'operations engineer',
 'full stack engineer',
 'technology engineer',
 'application analyst',
 'automation engineer',
 'it support engineer',
 'solution consultant',
 'software developer',
 'back end developer',
 'front end engineer',
 'technology manager',
 'solutions engineer',
 'security architect',
 'support technician',
 'platform engineer',
 'security engineer',
 'solution engineer',
 'back end engineer',
 'marketing manager',
 'systems developer',
 'embedded engineer',
 'systems engineer',
 'support engineer',
 'business analyst',
 'network engineer',
 'engineering lead',
 'python developer',
 'digital engineer',
 'product engineer',
 'quality engineer',
 'security analyst',
 'project engineer',
 'software manager',
 'devops engineer',
 'project manager',
 'support analyst',
 'design engineer',
 'cloud architect',
 'product manager',
 'python engineer',
 'systems analyst',
 'digital manager',
 'react developer',
 'account manager',
 'systems manager',
 'cloud engineer',
 'java developer',
 'technical lead',
 'data scientist',
 'net developer',
 'data architect',
 'azure engineer',
 'linux engineer',
 'data developer',
 'data engineer',
 'test engineer',
 'web developer',
 'java engineer',
 'software lead',
 'site engineer',
 'php developer',
 'data analyst',
 'data manager',
 'aws engineer',
 'c# developer',
 'test analyst',
 'ops engineer',
 'it engineer',
 'qa engineer',
 'it analyst',
 'it manager',
 'scientist',
 'data lead',
 'tech lead',
 'software engineer',
 'engineer',
 'security consultant',
 'consultant',
 'reporting analyst',
 'technologist',
 'technician',
 'data administrator',
 'data warehouse',
 'data migration',
 'database analyst',
 'data entry',
 'security specialist',
 'data specialist',
 'product',
 'data',
 'mobile developer',
 'applications developer',
 'oracle developer',
 'developer',
 'technical trainer',
 'administrator',
 'training manager',
 'visual designer',
 'technical team lead',
 'linux admin',
 'crm developer',
 'delivery manager',
 'graphic design',
 'business intelligence',
 'programmer',
 'team lead',
 'account executive']

In [6]:
df = df.dropna(subset=['Title','FullDescription'])
df.shape

(244767, 12)

In [7]:
'''reduce size'''
df=df.drop(columns=['Id',
                    'LocationRaw',
                    'LocationNormalized',
                    'ContractType',
                    'ContractTime',
                    'Company',
                    'SalaryRaw',
                    'SourceName'])

In [8]:
type(df[['Title']])
df['Title'] = df['Title'].apply(lambda x: x.lower())

In [9]:
def match_top_jobs(text):
    values = []
    for i in top_jobs_cleaned:
        if text.find(i)!=-1:
            values.append(i)
    if len(values)> 0:
        return values[0]
    else:
        return 'BLANK'

In [10]:
match_top_jobs('data engineer')

'data engineer'

In [11]:
df['Title_fixed'] =df['Title'].apply(lambda x: match_top_jobs(x))
df['Title_fixed'] = np.where(df['Title_fixed']=='BLANK', df['Title'], df['Title_fixed'])
df

,Title,FullDescription,Category,SalaryNormalized,Title_fixed
0,engineering systems analyst,Engineering Systems Analyst Dorking Surrey Sal...,Engineering Jobs,25000,systems analyst
1,stress engineer glasgow,Stress Engineer Glasgow Salary **** to **** We...,Engineering Jobs,30000,engineer
2,modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,Engineering Jobs,30000,modelling and simulation analyst
3,engineering systems analyst / mathematical mod...,Engineering Systems Analyst / Mathematical Mod...,Engineering Jobs,27500,systems analyst
4,"pioneer, miser engineering systems analyst","Pioneer, Miser Engineering Systems Analyst Do...",Engineering Jobs,25000,systems analyst
...,...,...,...,...,...
244763,teacher of science,Position: Qualified Teacher Subject/Specialism...,Teaching Jobs,22800,teacher of science
244764,teacher of business studies and ict,Position: Qualified Teacher or NQT Subject/Spe...,Teaching Jobs,22800,teacher of business studies and ict
244765,english teacher,Position: Qualified Teacher Subject/Specialism...,Teaching Jobs,22800,english teacher
244766,supply teachers,Position: Qualified Teacher Subject/Specialism...,Teaching Jobs,22800,supply teachers
244767,accountant,This entrepreneurial and growing private equit...,Teaching Jobs,42500,accountant

In [12]:
'''multiple steps for creating column containing first matched terms from list of top jobs'''

#df['Title_fixed'] = df['Title'].apply(lambda x: [i for i in top_jobs_cleaned if x.find(i)!=-1])
#df['Title_fixed'] = df['Title_fixed'].apply(lambda x: x[0] if len(x) != 0 else 'BLANK')
#df['Title_fixed'] = np.where(df['Title_fixed']=='BLANK', df['Title'], df['Title_fixed'])

'multiple steps for creating column containing first matched terms from list of top jobs'

In [13]:
'''Choose only IT jobs'''
tech_jobs = df[df['Category']=='IT Jobs']

In [14]:
print(len(set(tech_jobs['Title_fixed'])))
print(tech_jobs.shape)

5820
(38483, 5)

In [15]:
tech_jobs['Title_final_category'] = tech_jobs['Title_fixed'].apply(lambda x: x if x in top_jobs_cleaned else 'Other')
tech_jobs

/var/folders/8l/ykm4q3vn60bgvlnxp5qt0mz00000gn/T/ipykernel_45257/2044113483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tech_jobs['Title_final_category'] = tech_jobs['Title_fixed'].apply(lambda x: x if x in top_jobs_cleaned else 'Other')

,Title,FullDescription,Category,SalaryNormalized,Title_fixed,Title_final_category
31,c/c++ developer,A leading company that provides stock market a...,IT Jobs,32500,developer,developer
32,senior php developer,A skilled Senior PHP Developer is required by ...,IT Jobs,45000,php developer,php developer
33,senior website designer,"SENIOR WEBSITE DESIGNER Location: York, East Y...",IT Jobs,25000,senior website designer,Other
34,business development manager,"The Company: Our client are a full service, cr...",IT Jobs,21000,business development manager,Other
38,qa engineer,An expanding software and consultancy services...,IT Jobs,30000,qa engineer,qa engineer
...,...,...,...,...,...,...
244322,mid / senior software developer shropshire ****k,Mid/Senior Software Developer Shropshire ****k...,IT Jobs,32500,software developer,software developer
244325,junior trainer,Junior IT Trainer Top 20 UK Law Firm Central...,IT Jobs,32500,junior trainer,Other
244334,php software developer,PHP Software Developer Glasgow Eden Scott s cl...,IT Jobs,27500,software developer,software developer
244336,mi analyst (reporting analyst) trainee,MI Analyst (Reporting Analyst) Trainee. Excel...,IT Jobs,27500,reporting analyst,reporting analyst
244348,web designer / developer,Job Role: Web Designer/Developer Location: Che...,IT Jobs,20500,developer,developer

In [32]:
'''check titles'''
tech_jobs.head(75)

,Title,FullDescription,Category,SalaryNormalized,Title_fixed,Title_final_category
31,c/c++ developer,A leading company that provides stock market a...,IT Jobs,32500,developer,developer
32,senior php developer,A skilled Senior PHP Developer is required by ...,IT Jobs,45000,php developer,php developer
33,senior website designer,"SENIOR WEBSITE DESIGNER Location: York, East Y...",IT Jobs,25000,senior website designer,Other
34,business development manager,"The Company: Our client are a full service, cr...",IT Jobs,21000,business development manager,Other
38,qa engineer,An expanding software and consultancy services...,IT Jobs,30000,qa engineer,qa engineer
...,...,...,...,...,...,...
2482,senior php developer php javascript jquery xh...,Senior PHP Developer PHP JavaScript JQuery XH...,IT Jobs,45000,php developer,php developer
2483,senior support analyst linux/mysql/itil,Senior Support Analyst Linux/MySQL/ITIL This ...,IT Jobs,40000,support analyst,support analyst
2484,net developer,Software Developer Software Developerrequired ...,IT Jobs,35000,net developer,net developer
2485,sap payroll consultant,Service Birmingham is a joint venture partners...,IT Jobs,60000,consultant,consultant
2486,availability analyst,Our Hatfield based client is seeking an Availa...,IT Jobs,35000,availability analyst,Other

In [17]:
'''output data'''
#tech_jobs["Title_final_category"].value_counts().head(50)
#tech_jobs = tech_jobs.drop(columns=['FullDescription'])
#tech_jobs.to_csv(r'./fixed_titles.csv', index = False)

'output data'

In [33]:
tech_jobs['Title_final_category'].value_counts().head(50)

Other                      8202
developer                  4659
net developer              1868
consultant                 1822
engineer                   1706
web developer              1507
project manager            1339
software developer         1186
sales                      1087
business analyst           1052
java developer             1037
software engineer          1024
php developer               674
support analyst             660
support engineer            542
data                        483
it support                  445
systems administrator       390
technical support           385
team lead                   369
design engineer             360
administrator               360
test analyst                349
programmer                  301
technician                  286
systems engineer            285
technical consultant        276
network engineer            268
database administrator      251
account manager             227
helpdesk                    226
application developer       225
front end developer         224
infrastructure engineer     220
data analyst                212
solutions architect         201
systems analyst             184
technical architect         143
test engineer               140
product                     138
product manager             138
technical lead              125
c++ software engineer       121
delivery manager            120
javascript developer        119
analytics                   103
applications developer      103
system administrator        100
security engineer            98
qa engineer                  97
Name: Title_final_category, dtype: int64

In [19]:
'''install my favourite sesame street character'''
#!pip install keybert

'install my favourite sesame street character'

In [37]:
'''what else to remove from description?
countries
common words
salary
stopwords
'''

tech_jobs['FullDescription'].iloc[:3]

31    A leading company that provides stock market a...
32    A skilled Senior PHP Developer is required by ...
33    SENIOR WEBSITE DESIGNER Location: York, East Y...
Name: FullDescription, dtype: object

In [34]:
from keybert import KeyBERT

doc = tech_jobs['FullDescription'].iloc[3]
kw_model = KeyBERT()
keywords = kw_model.extract_keywords(doc)

In [35]:
kw_model.extract_keywords(doc, keyphrase_ngram_range=(1, 1), stop_words='english', 
                              use_mmr=True, diversity=0.5,top_n=10)

[('managing', 0.4218),
 ('tyne', 0.2529),
 ('client', 0.3103),
 ('develop', 0.4097),
 ('contact', 0.233),
 ('specialising', 0.2188),
 ('outbound', 0.1255),
 ('motivate', 0.1761),
 ('business', 0.3286),
 ('portfolio', 0.2019)]

In [36]:
kw_model.extract_keywords(doc, keyphrase_ngram_range=(1, 2), stop_words=None,top_n=10)

[('business development', 0.5148),
 ('development manager', 0.5059),
 ('prospective clients', 0.48),
 ('potential clients', 0.4762),
 ('management skills', 0.4455),
 ('managing director', 0.4227),
 ('managing', 0.4218),
 ('develop', 0.4097),
 ('clients create', 0.4096),
 ('the managing', 0.4037)]

In [24]:
def mmr_extractions(doc,kw_model):
    keywords = kw_model.extract_keywords(doc)
    X = kw_model.extract_keywords(doc, keyphrase_ngram_range=(1, 2), stop_words='english', 
                              use_mmr=True, diversity=0.7,top_n=10)
    X_list = [i[0] for i in X ]
    return X_list

In [58]:
#df_test = tech_jobs[tech_jobs['Title_fixed']=='product'][:10]
df_test = tech_jobs[tech_jobs['Title_final_category']!='Other']
df_test.shape

(30281, 6)

In [ ]:
'''blank for now'''
import time
start = time.time()
"the code you want to test stays here"

kw_model = KeyBERT()
df_test['keywords'] = df_test['FullDescription'].apply(lambda x: mmr_extractions(x,kw_model))

end = time.time()
print(end - start)

In [40]:
df_test

,Title,FullDescription,Category,SalaryNormalized,Title_fixed,Title_final_category,keywords
2468,injection moulding product designer,• Tooling experience is an advantage • Automot...,IT Jobs,36000,product,product,"[tooling experience, vehicle required, bracket..."
2650,programme manager manufacturing / production,Programme Manager Manufacturing / Engineering...,IT Jobs,60000,product,product,"[programme manager, aftermarket aftersales, en..."
2670,"senior manager, product development authenticati","Senior Manager, Product Development Authentic...",IT Jobs,75000,product,product,"[visa authentication, roadmap develop, ecommer..."
7604,credit risk/ market risk product designer/ pro...,Credit Risk/ Market risk Product Designer/ pro...,IT Jobs,75000,product,product,"[risk products, role salary, champion london, ..."
9411,"product development manager java, rdbms, spri...","Product Development Manager Java, RDBMS, Spri...",IT Jobs,51000,product,product,"[product development, join hampshire, salary b..."
11021,programmer/production specialist,Quality Data Management (QDM) is a survey rese...,IT Jobs,62500,product,product,"[management qdm, apache tomcat, submit resume,..."
11220,senior c product developer antrim new,Client: I am currently looking to hire an expe...,IT Jobs,35000,product,product,"[experienced developer, antrim, wcf linq, forw..."
13510,senior sql production dba altrincham,"As a MSSQL Database Administrator, you will be...",IT Jobs,42500,product,product,"[dba supports, futures visit, solving skills, ..."
13542,head of emerging tv products,Head of Emerging Products with experience of T...,IT Jobs,87500,product,product,"[build marketing, mobile tv, execute multiface..."
15069,production dba nottingham,Summary This role is based at Gala Coral Head ...,IT Jobs,38000,product,product,"[dba team, apply business, execution nonfuncti..."

In [28]:
X = df_test.drop(columns = ['Title','FullDescription','SalaryNormalized','Title_fixed','Title_final_category','Category'])
y = df_test['Title_final_category']

In [29]:
X['keywords_list'] = X['keywords'].apply(lambda x:' '.join(x))

In [30]:
from sklearn.model_selection import train_test_split
y = tech_jobs['Title_final_category']
X = tech_jobs['FullDescription']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [31]:
from tensorflow.keras.preprocessing.text import text_to_word_sequence

X_train = [text_to_word_sequence(_.decode("utf-8")) for _ in X_train]
X_test = [text_to_word_sequence(_.decode("utf-8")) for _ in X_test]

X_train[0:2]

ModuleNotFoundError: No module named 'tensorflow'