In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../raw_data/Train_rev1.csv")

In [3]:
df.keys()

Index(['Id', 'Title', 'FullDescription', 'LocationRaw', 'LocationNormalized',
       'ContractType', 'ContractTime', 'Company', 'Category', 'SalaryRaw',
       'SalaryNormalized', 'SourceName'],
      dtype='object')

In [4]:
'''define a list of job jobs/ job cateogries for parsing'''

top_jobs = ['training specialist','helpdesk','technical support','database administrator','IT Trainer','IT Support','Data Architect','Tech Support','tech sales','sales','product manager','product lead','Analytics','Software Development Engineer', 'Full Stack Software Engineer', 'Technical Support Engineer', 'Site Reliability Engineer', 'Infrastructure Engineer', 'Java Software Engineer', 'Software Test Engineer', 'Systems Administrator', 'Application Developer', 'C++ Software Engineer', 'Full Stack Developer', 'Application Engineer', 'Reliability Engineer', 'System Administrator', 'Technical Consultant', 'JavaScript Developer', 'Integration Engineer', 'Engineering Manager', 'Front End Developer', 'Solutions Architect', 'Technical Architect', 'Operations Engineer', 'Full Stack Engineer', 'Technology Engineer', 'Application Analyst', 'Automation Engineer', 'IT Support Engineer', 'Solution Consultant', 'Software Developer', 'Back End Developer', 'Front End Engineer', 'Technology Manager', 'Solutions Engineer', 'Security Architect', 'Support Technician', 'Platform Engineer', 'Security Engineer', 'Solution Engineer', 'Back End Engineer', 'Marketing Manager', 'Systems Developer', 'Embedded Engineer', 'Systems Engineer', 'Support Engineer', 'Business Analyst', 'Network Engineer', 'Engineering Lead', 'Python Developer', 'Digital Engineer', 'Product Engineer', 'Quality Engineer', 'Security Analyst', 'Project Engineer', 'Software Manager', 'DevOps Engineer', 'Project Manager', 'Support Analyst', 'Design Engineer', 'Cloud Architect', 'Product Manager', 'Python Engineer', 'Systems Analyst', 'Digital Manager', 'React Developer', 'Account Manager', 'Systems Manager', 'Cloud Engineer', 'Java Developer', 'Technical Lead', 'Data Scientist', 'NET Developer', 'Data Architect', 'Azure Engineer', 'Linux Engineer', 'Data Developer', 'Data Engineer', 'Test Engineer', 'Web Developer', 'Java Engineer', 'Software Lead', 'Site Engineer', 'PHP Developer', 'Data Analyst', 'Data Manager', 'AWS Engineer', 'C# Developer', 'Test Analyst', 'Ops Engineer', 'IT Engineer', 'QA Engineer', 'IT Analyst', 'IT Manager', 'Scientist', 'Data Lead', 'Tech Lead',
            'software engineer','Engineer','security consultant''Consultant','reporting analyst','technologist', 'technician',
           'data administrator',
'data warehouse',
'data migration',
'database analyst',
'data entry','security specialist','data specialist','Product','data',
           'mobile developer',
'applications developer','oracle developer', 'Developer',
'technical trainer','administrator','training manager',
            'visual designer', 'technical team lead',
           'linux admin','crm developer','delivery manager',
            'graphic design','business intelligence','programmer','team lead','account executive'
           ]

In [5]:
'''clean top jobs list'''
top_jobs_cleaned = []
for i in top_jobs:
    top_jobs_cleaned.append(i.lower())
top_jobs_cleaned

['training specialist',
 'helpdesk',
 'technical support',
 'database administrator',
 'it trainer',
 'it support',
 'data architect',
 'tech support',
 'tech sales',
 'sales',
 'product manager',
 'product lead',
 'analytics',
 'software development engineer',
 'full stack software engineer',
 'technical support engineer',
 'site reliability engineer',
 'infrastructure engineer',
 'java software engineer',
 'software test engineer',
 'systems administrator',
 'application developer',
 'c++ software engineer',
 'full stack developer',
 'application engineer',
 'reliability engineer',
 'system administrator',
 'technical consultant',
 'javascript developer',
 'integration engineer',
 'engineering manager',
 'front end developer',
 'solutions architect',
 'technical architect',
 'operations engineer',
 'full stack engineer',
 'technology engineer',
 'application analyst',
 'automation engineer',
 'it support engineer',
 'solution consultant',
 'software developer',
 'back end developer',
 'front end engineer',
 'technology manager',
 'solutions engineer',
 'security architect',
 'support technician',
 'platform engineer',
 'security engineer',
 'solution engineer',
 'back end engineer',
 'marketing manager',
 'systems developer',
 'embedded engineer',
 'systems engineer',
 'support engineer',
 'business analyst',
 'network engineer',
 'engineering lead',
 'python developer',
 'digital engineer',
 'product engineer',
 'quality engineer',
 'security analyst',
 'project engineer',
 'software manager',
 'devops engineer',
 'project manager',
 'support analyst',
 'design engineer',
 'cloud architect',
 'product manager',
 'python engineer',
 'systems analyst',
 'digital manager',
 'react developer',
 'account manager',
 'systems manager',
 'cloud engineer',
 'java developer',
 'technical lead',
 'data scientist',
 'net developer',
 'data architect',
 'azure engineer',
 'linux engineer',
 'data developer',
 'data engineer',
 'test engineer',
 'web developer',
 'java engineer',
 'software lead',
 'site engineer',
 'php developer',
 'data analyst',
 'data manager',
 'aws engineer',
 'c# developer',
 'test analyst',
 'ops engineer',
 'it engineer',
 'qa engineer',
 'it analyst',
 'it manager',
 'scientist',
 'data lead',
 'tech lead',
 'software engineer',
 'engineer',
 'security consultantconsultant',
 'reporting analyst',
 'technologist',
 'technician',
 'data administrator',
 'data warehouse',
 'data migration',
 'database analyst',
 'data entry',
 'security specialist',
 'data specialist',
 'product',
 'data',
 'mobile developer',
 'applications developer',
 'oracle developer',
 'developer',
 'technical trainer',
 'administrator',
 'training manager',
 'visual designer',
 'technical team lead',
 'linux admin',
 'crm developer',
 'delivery manager',
 'graphic design',
 'business intelligence',
 'programmer',
 'team lead',
 'account executive']

In [6]:
df = df.dropna(subset=['Title','FullDescription'])
df.shape

(244767, 12)

In [7]:
'''reduce size'''
df=df.drop(columns=['Id',
                    'LocationRaw',
                    'LocationNormalized',
                    'ContractType',
                    'ContractTime',
                    'Company',
                    'SalaryRaw',
                    'SourceName'])

In [8]:
type(df[['Title']])
df['Title'] = df['Title'].apply(lambda x: x.lower())

In [9]:
'''multiple steps for creating column containing first matched terms from list of top jobs'''

df['Title_fixed'] = df['Title'].apply(lambda x: [i for i in top_jobs_cleaned if x.find(i)!=-1])
df['Title_fixed'] = df['Title_fixed'].apply(lambda x: x[0] if len(x) != 0 else 'BLANK')
df['Title_fixed'] = np.where(df['Title_fixed']=='BLANK', df['Title'], df['Title_fixed'])

In [10]:
'''Choose only IT jobs'''
tech_jobs = df[df['Category']=='IT Jobs']

In [11]:
print(len(set(tech_jobs['Title_fixed'])))
print(tech_jobs.shape)

7013
(38483, 5)

In [12]:
'''check titles'''
tech_jobs[tech_jobs['Title_fixed']=='product'].head(75)

,Title,FullDescription,Category,SalaryNormalized,Title_fixed
2468,injection moulding product designer,• Tooling experience is an advantage • Automot...,IT Jobs,36000,product
2650,programme manager manufacturing / production,Programme Manager Manufacturing / Engineering...,IT Jobs,60000,product
2670,"senior manager, product development authenticati","Senior Manager, Product Development Authentic...",IT Jobs,75000,product
7604,credit risk/ market risk product designer/ pro...,Credit Risk/ Market risk Product Designer/ pro...,IT Jobs,75000,product
9411,"product development manager java, rdbms, spri...","Product Development Manager Java, RDBMS, Spri...",IT Jobs,51000,product
...,...,...,...,...,...
129124,production operative,Job Title: Production Operative Salary: **** ...,IT Jobs,18000,product
129555,"security penetration tester, product security ...",Oxfordshire. My client is a global software ho...,IT Jobs,57500,product
133455,production dba,Our Nottingham based client has requirement fo...,IT Jobs,38500,product
134576,developer/product consultant,We are recruiting for a degree educated candid...,IT Jobs,24000,product
136945,product specialist c aspnet ****k watford herts,C ASP.NET SQL PRODUCT SPECIALIST ****K WATFORD...,IT Jobs,30000,product

In [13]:
'''create a master categorization based on the fixed titles'''
tech_jobs['Title_final_category'] = tech_jobs['Title_fixed'].apply(lambda x: x if x in top_jobs_cleaned else 'Other')

/var/folders/8l/ykm4q3vn60bgvlnxp5qt0mz00000gn/T/ipykernel_38685/99744644.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tech_jobs['Title_final_category'] = tech_jobs['Title_fixed'].apply(lambda x: x if x in top_jobs_cleaned else 'Other')

In [14]:
'''output data'''
#tech_jobs["Title_final_category"].value_counts().head(50)
#tech_jobs = tech_jobs.drop(columns=['FullDescription'])
#tech_jobs.to_csv(r'./fixed_titles.csv', index = False)

'output data'

In [15]:
tech_jobs

,Title,FullDescription,Category,SalaryNormalized,Title_fixed,Title_final_category
31,c/c++ developer,A leading company that provides stock market a...,IT Jobs,32500,developer,developer
32,senior php developer,A skilled Senior PHP Developer is required by ...,IT Jobs,45000,php developer,php developer
33,senior website designer,"SENIOR WEBSITE DESIGNER Location: York, East Y...",IT Jobs,25000,senior website designer,Other
34,business development manager,"The Company: Our client are a full service, cr...",IT Jobs,21000,business development manager,Other
38,qa engineer,An expanding software and consultancy services...,IT Jobs,30000,qa engineer,qa engineer
...,...,...,...,...,...,...
244322,mid / senior software developer shropshire ****k,Mid/Senior Software Developer Shropshire ****k...,IT Jobs,32500,software developer,software developer
244325,junior trainer,Junior IT Trainer Top 20 UK Law Firm Central...,IT Jobs,32500,junior trainer,Other
244334,php software developer,PHP Software Developer Glasgow Eden Scott s cl...,IT Jobs,27500,software developer,software developer
244336,mi analyst (reporting analyst) trainee,MI Analyst (Reporting Analyst) Trainee. Excel...,IT Jobs,27500,reporting analyst,reporting analyst
244348,web designer / developer,Job Role: Web Designer/Developer Location: Che...,IT Jobs,20500,developer,developer

In [16]:
'''install my favourite sesame street character'''
#!pip install keybert

'install my favourite sesame street character'

In [17]:
'''what else to remove from description?
countries
common words
salary
stopwords
'''

tech_jobs['FullDescription'].iloc[:3]

31    A leading company that provides stock market a...
32    A skilled Senior PHP Developer is required by ...
33    SENIOR WEBSITE DESIGNER Location: York, East Y...
Name: FullDescription, dtype: object

In [18]:
from keybert import KeyBERT

doc = tech_jobs['FullDescription'].iloc[3]
kw_model = KeyBERT()
keywords = kw_model.extract_keywords(doc)

In [19]:
kw_model.extract_keywords(doc, keyphrase_ngram_range=(1, 1), stop_words='english', 
                              use_mmr=True, diversity=0.5,top_n=10)

[('managing', 0.4218),
 ('tyne', 0.2529),
 ('client', 0.3103),
 ('develop', 0.4097),
 ('contact', 0.233),
 ('specialising', 0.2188),
 ('outbound', 0.1255),
 ('motivate', 0.1761),
 ('business', 0.3286),
 ('portfolio', 0.2019)]

In [20]:
kw_model.extract_keywords(doc, keyphrase_ngram_range=(1, 2), stop_words=None,top_n=10)

[('business development', 0.5148),
 ('development manager', 0.5059),
 ('prospective clients', 0.48),
 ('potential clients', 0.4762),
 ('management skills', 0.4455),
 ('managing director', 0.4227),
 ('managing', 0.4218),
 ('develop', 0.4097),
 ('clients create', 0.4096),
 ('the managing', 0.4037)]

In [21]:
def mmr_extractions(doc,kw_model):
    keywords = kw_model.extract_keywords(doc)
    X = kw_model.extract_keywords(doc, keyphrase_ngram_range=(1, 2), stop_words='english', 
                              use_mmr=True, diversity=0.7,top_n=10)
    X_list = [i[0] for i in X ]
    return X_list

In [22]:
df_test = tech_jobs[tech_jobs['Title_final_category']=='sales'][:100]
df_test.shape

(100, 6)

In [23]:
kw_model = KeyBERT()
df_test['keywords'] = df_test['FullDescription'].apply(lambda x: mmr_extractions(x,kw_model))

In [24]:
X = df_test.drop(columns = ['Title','FullDescription','SalaryNormalized','Title_fixed','Title_final_category','Category'])
y = df_test['Title_final_category']

In [32]:
X['keywords_list'] = X['keywords'].apply(lambda x:' '.join(x))
X

,keywords,keywords_list
2491,"[presales consultant, motorway links, experien...",presales consultant motorway links experience ...
2508,"[b2b telsales, step continuous, portfolio prev...",b2b telsales step continuous portfolio previou...
2529,"[global career, cover costs, ote gross, prefer...",global career cover costs ote gross prefer 612...
2560,"[alcatel lucent, maintain business, pbx relate...",alcatel lucent maintain business pbx related s...
2572,"[cisco sales, ideal candidate, involve special...",cisco sales ideal candidate involve specialist...
...,...,...
17512,"[sell sponsorship, wifi sector, client records...",sell sponsorship wifi sector client records fl...
17530,"[client responsibilities, prospecting selfgene...",client responsibilities prospecting selfgenera...
18181,"[business analyst, configuration possession, l...",business analyst configuration possession lond...
18286,"[vendor ote, financial performance, charlotte ...",vendor ote financial performance charlotte smi...
18303,"[sales experience, computer futures, dynamics ...",sales experience computer futures dynamics crm...

In [26]:
y_pred

NameError: name 'y_pred' is not defined