In [1]:
#scrip more tech job description?
#!pip install wordcloud
#!pip install keybert

In [2]:
import pandas as pd
import string

In [3]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [4]:
from wordcloud import WordCloud, ImageColorGenerator
import matplotlib.pyplot as plt

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
top_jobs = ['training specialist',
 'helpdesk',
 'technical support',
 'database administrator',
 'it trainer',
 'it support',
 'data architect',
 'tech support',
 'tech sales',
 'sales',
 'product manager',
 'product lead',
 'analytics',
 'software development engineer',
 'full stack software engineer',
 'technical support engineer',
 'site reliability engineer',
 'infrastructure engineer',
 'java software engineer',
 'software test engineer',
 'systems administrator',
 'application developer',
 'c++ software engineer',
 'full stack developer',
 'application engineer',
 'reliability engineer',
 'system administrator',
 'technical consultant',
 'javascript developer',
 'integration engineer',
 'engineering manager',
 'front end developer',
 'solutions architect',
 'technical architect',
 'operations engineer',
 'full stack engineer',
 'technology engineer',
 'application analyst',
 'automation engineer',
 'it support engineer',
 'solution consultant',
 'software developer',
 'back end developer',
 'front end engineer',
 'technology manager',
 'solutions engineer',
 'security architect',
 'support technician',
 'platform engineer',
 'security engineer',
 'solution engineer',
 'back end engineer',
 'marketing manager',
 'systems developer',
 'embedded engineer',
 'systems engineer',
 'support engineer',
 'business analyst',
 'network engineer',
 'engineering lead',
 'python developer',
 'digital engineer',
 'product engineer',
 'quality engineer',
 'security analyst',
 'project engineer',
 'software manager',
 'devops engineer',
 'project manager',
 'support analyst',
 'design engineer',
 'cloud architect',
 'product manager',
 'python engineer',
 'systems analyst',
 'digital manager',
 'react developer',
 'account manager',
 'systems manager',
 'cloud engineer',
 'java developer',
 'technical lead',
 'data scientist',
 'net developer',
 'data architect',
 'azure engineer',
 'linux engineer',
 'data developer',
 'data engineer',
 'test engineer',
 'web developer',
 'java engineer',
 'software lead',
 'site engineer',
 'php developer',
 'data analyst',
 'data manager',
 'aws engineer',
 'c# developer',
 'test analyst',
 'ops engineer',
 'it engineer',
 'qa engineer',
 'it analyst',
 'it manager',
 'scientist',
 'data lead',
 'tech lead',
 'software engineer',
 'engineer',
 'security consultant',
 'consultant',
 'reporting analyst',
 'technologist',
 'technician',
 'data administrator',
 'data warehouse',
 'data migration',
 'database analyst',
 'data entry',
 'security specialist',
 'data specialist',
 'product',
 'data',
 'mobile developer',
 'applications developer',
 'oracle developer',
 'developer',
 'technical trainer',
 'administrator',
 'training manager',
 'visual designer',
 'technical team lead',
 'linux admin',
 'crm developer',
 'delivery manager',
 'graphic design',
 'business intelligence',
 'programmer',
 'team lead',
 'account executive']
top_jobs_cleaned = [i.lower() for i in top_jobs]

In [7]:
#load the data from the other directory
df=pd.read_csv('../raw_data/Train_rev1.csv')

In [8]:
#drop unusefull info
df=df.drop(columns=['Id',
                    'LocationRaw',
                    'LocationNormalized',
                    'ContractType',
                    'ContractTime',
                    'Company',
                    'SalaryRaw',
                    'SourceName'])
df=df[df['Category']=='IT Jobs']
df

,Title,FullDescription,Category,SalaryNormalized
31,C/C++ Developer,A leading company that provides stock market a...,IT Jobs,32500
32,Senior PHP Developer,A skilled Senior PHP Developer is required by ...,IT Jobs,45000
33,Senior Website Designer,"SENIOR WEBSITE DESIGNER Location: York, East Y...",IT Jobs,25000
34,Business Development Manager,"The Company: Our client are a full service, cr...",IT Jobs,21000
38,QA Engineer,An expanding software and consultancy services...,IT Jobs,30000
...,...,...,...,...
244322,Mid / Senior Software Developer Shropshire ****k,Mid/Senior Software Developer Shropshire ****k...,IT Jobs,32500
244325,Junior Trainer,Junior IT Trainer Top 20 UK Law Firm Central...,IT Jobs,32500
244334,PHP Software Developer,PHP Software Developer Glasgow Eden Scott s cl...,IT Jobs,27500
244336,MI Analyst (Reporting Analyst) Trainee,MI Analyst (Reporting Analyst) Trainee. Excel...,IT Jobs,27500
244348,Web Designer / Developer,Job Role: Web Designer/Developer Location: Che...,IT Jobs,20500

In [9]:
#drop null rows
df=df.dropna(axis=0, how='any')
#df

In [10]:
df.shape

(38483, 4)

In [11]:
#match job titles
def match_top_jobs(text):
    text = text.lower()
    values = []
    for i in top_jobs_cleaned:
        if text.find(i)!=-1:
            values.append(i)
    if len(values)> 0:
        return values[0]
    else:
        return 'Other'

In [12]:
df['Title'] =df['Title'].apply(lambda x: match_top_jobs(x))

In [13]:
# remove punctuation
def remove_punctuation(text):
    for punctuation in string.punctuation: 
        text = text.replace(punctuation, ' ') 
    return text

In [14]:
df['FullDescription'] = df['FullDescription'].astype(str).apply(remove_punctuation)
df

,Title,FullDescription,Category,SalaryNormalized
31,developer,A leading company that provides stock market a...,IT Jobs,32500
32,php developer,A skilled Senior PHP Developer is required by ...,IT Jobs,45000
33,Other,SENIOR WEBSITE DESIGNER Location York East Y...,IT Jobs,25000
34,Other,The Company Our client are a full service cr...,IT Jobs,21000
38,qa engineer,An expanding software and consultancy services...,IT Jobs,30000
...,...,...,...,...
244322,software developer,Mid Senior Software Developer Shropshire k...,IT Jobs,32500
244325,Other,Junior IT Trainer Top 20 UK Law Firm Central...,IT Jobs,32500
244334,software developer,PHP Software Developer Glasgow Eden Scott s cl...,IT Jobs,27500
244336,reporting analyst,MI Analyst Reporting Analyst Trainee Excel...,IT Jobs,27500
244348,developer,Job Role Web Designer Developer Location Che...,IT Jobs,20500

In [15]:
#lower case of all context
def lowercase (text): 
    lowercased = text.lower() 
    return lowercased

In [16]:
df['FullDescription'] = df['FullDescription'].astype(str).apply(lowercase)
df

,Title,FullDescription,Category,SalaryNormalized
31,developer,a leading company that provides stock market a...,IT Jobs,32500
32,php developer,a skilled senior php developer is required by ...,IT Jobs,45000
33,Other,senior website designer location york east y...,IT Jobs,25000
34,Other,the company our client are a full service cr...,IT Jobs,21000
38,qa engineer,an expanding software and consultancy services...,IT Jobs,30000
...,...,...,...,...
244322,software developer,mid senior software developer shropshire k...,IT Jobs,32500
244325,Other,junior it trainer top 20 uk law firm central...,IT Jobs,32500
244334,software developer,php software developer glasgow eden scott s cl...,IT Jobs,27500
244336,reporting analyst,mi analyst reporting analyst trainee excel...,IT Jobs,27500
244348,developer,job role web designer developer location che...,IT Jobs,20500

In [17]:
#remove numbers
def remove_numbers (text):
    words_only = ''.join([i for i in text if not i.isdigit()])
    return words_only

In [18]:
df['FullDescription'] = df['FullDescription'].astype(str).apply(remove_numbers)
df

,Title,FullDescription,Category,SalaryNormalized
31,developer,a leading company that provides stock market a...,IT Jobs,32500
32,php developer,a skilled senior php developer is required by ...,IT Jobs,45000
33,Other,senior website designer location york east y...,IT Jobs,25000
34,Other,the company our client are a full service cr...,IT Jobs,21000
38,qa engineer,an expanding software and consultancy services...,IT Jobs,30000
...,...,...,...,...
244322,software developer,mid senior software developer shropshire k...,IT Jobs,32500
244325,Other,junior it trainer top uk law firm central l...,IT Jobs,32500
244334,software developer,php software developer glasgow eden scott s cl...,IT Jobs,27500
244336,reporting analyst,mi analyst reporting analyst trainee excel...,IT Jobs,27500
244348,developer,job role web designer developer location che...,IT Jobs,20500

In [19]:
df['FullDescription'] = df['FullDescription'].astype(str).apply(remove_numbers)

In [20]:
#remove stopwords
from nltk.corpus import stopwords 
from nltk import word_tokenize

stop_words = set(stopwords.words('english')) 

# Create function
def remove_stopwords (text):
    tokenized = word_tokenize(text)
    without_stopwords = [word for word in tokenized if not word in stop_words]
    return without_stopwords

In [21]:
print(stop_words)

{'wasn', 'each', 'has', "doesn't", 'why', 'the', 'aren', "weren't", 'didn', 'd', 'did', "didn't", 'we', 'from', 'until', "she's", "couldn't", 'any', 'had', 'as', "haven't", 'which', 'ma', "mightn't", 'ain', 'yourselves', 'having', 'he', 'can', 'during', 'm', 'at', 'are', 'not', 'your', 'of', 'while', 'herself', 'mightn', 'needn', "isn't", 'i', 'with', 'above', 'themselves', "don't", 'my', 'doing', 'now', 'weren', 'should', 'there', 'into', 'such', 'more', 'll', 'what', 'being', "wouldn't", 't', 'were', 'theirs', 'been', 'hers', 'ourselves', "should've", "aren't", 'through', 'shan', 'shouldn', 'am', 'won', 'down', 'ours', 'here', 'how', 'haven', 'off', 'if', "you've", 'further', 'for', 'to', 'a', 'than', 're', "you're", 'and', 'her', 'she', 'no', 'was', 'our', 'is', 'don', 'his', 'because', 'under', 'isn', 'on', 'you', 'about', 'against', 'their', 'o', "that'll", 'its', 'so', 'up', 'itself', 'himself', "you'd", 'they', 'nor', 'does', 'myself', 'some', 'hasn', "wasn't", 'hadn', 'it', 'these', 'those', 'again', 'after', "shan't", 'them', 'over', 'y', 'most', "hasn't", "needn't", 'couldn', "won't", 'below', 'only', 'that', 's', 'doesn', 'all', 'few', 'between', 'by', 'will', 'whom', 'him', 'me', 'yourself', 'wouldn', 'where', 'very', 'own', 'just', 'out', 'before', "hadn't", 'be', 'then', 'or', 'when', 'too', "shouldn't", "mustn't", 'do', 'mustn', 'have', 've', 'who', 'in', "it's", 'both', 'other', 'same', 'once', "you'll", 'an', 'but', 'this', 'yours'}

In [22]:
df['FullDescription'] = df['FullDescription'].astype(str).apply(remove_stopwords)
df

,Title,FullDescription,Category,SalaryNormalized
31,developer,"[leading, company, provides, stock, market, an...",IT Jobs,32500
32,php developer,"[skilled, senior, php, developer, required, le...",IT Jobs,45000
33,Other,"[senior, website, designer, location, york, ea...",IT Jobs,25000
34,Other,"[company, client, full, service, creative, dri...",IT Jobs,21000
38,qa engineer,"[expanding, software, consultancy, services, c...",IT Jobs,30000
...,...,...,...,...
244322,software developer,"[mid, senior, software, developer, shropshire,...",IT Jobs,32500
244325,Other,"[junior, trainer, top, uk, law, firm, central,...",IT Jobs,32500
244334,software developer,"[php, software, developer, glasgow, eden, scot...",IT Jobs,27500
244336,reporting analyst,"[mi, analyst, reporting, analyst, trainee, exc...",IT Jobs,27500
244348,developer,"[job, role, web, designer, developer, location...",IT Jobs,20500

In [23]:
#skip for now

#lemmatize
#from nltk.stem import WordNetLemmatizer

#def lemma(text):
#    lemmatizer = WordNetLemmatizer() # Initiate lemmatizer
#    lemmatized = [lemmatizer.lemmatize(word) for word in text] # Lemmatize
#    lemmatized_string = " ".join(lemmatized)
#    return lemmatized_string

In [24]:
#skip for now

#df['Title'] = df['Title'].astype(str).apply(lemma)
#df['FullDescription'] = df['FullDescription'].astype(str).apply(lemma)
#df

In [25]:
df['Category'].value_counts()

IT Jobs    38483
Name: Category, dtype: int64

In [26]:
from keybert import KeyBERT

kw_model = KeyBERT()

#create a new column of keywords
def key_words(text):
    #keywords = kw_model.extract_keywords(text)
    keywords = kw_model.extract_keywords(text,keyphrase_ngram_range=(1, 1), stop_words='english', use_mmr=True, diversity=0.5,top_n=10)
    return keywords

2022-02-24 21:20:26.637712: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-02-24 21:20:26.637775: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [27]:
def listToString(text): 
    str1 = " " 
    # return string  
    return (str1.join(text))

In [28]:
#df['keywords']=df['FullDescription'].iloc[3].apply(key_words)
#a=key_words(df['FullDescription'].iloc[3])
' '.join(df['FullDescription'].iloc[3])

a=key_words(' '.join(df['FullDescription'].iloc[10]))
a

[('unix', 0.3962),
 ('qualifications', 0.3446),
 ('agile', 0.3388),
 ('engineering', 0.3354),
 ('configuration', 0.2266),
 ('uml', 0.2394),
 ('xamp', 0.2819),
 ('keywords', 0.1932),
 ('adaptability', 0.1932),
 ('fleet', 0.1646)]

In [29]:
#only top 100 job titles as a test
df['KeyWords'] = df['FullDescription'][:1000].apply(listToString).apply(key_words)
df

,Title,FullDescription,Category,SalaryNormalized,KeyWords
31,developer,"[leading, company, provides, stock, market, an...",IT Jobs,32500,"[(developer, 0.3651), (requirements, 0.3608), ..."
32,php developer,"[skilled, senior, php, developer, required, le...",IT Jobs,45000,"[(requirements, 0.4926), (php, 0.397), (skille..."
33,Other,"[senior, website, designer, location, york, ea...",IT Jobs,25000,"[(designers, 0.4585), (requirements, 0.3499), ..."
34,Other,"[company, client, full, service, creative, dri...",IT Jobs,21000,"[(clients, 0.4249), (ambition, 0.223), (managi..."
38,qa engineer,"[expanding, software, consultancy, services, c...",IT Jobs,30000,"[(developers, 0.4428), (requirements, 0.3864),..."
...,...,...,...,...,...
244322,software developer,"[mid, senior, software, developer, shropshire,...",IT Jobs,32500,NaN
244325,Other,"[junior, trainer, top, uk, law, firm, central,...",IT Jobs,32500,NaN
244334,software developer,"[php, software, developer, glasgow, eden, scot...",IT Jobs,27500,NaN
244336,reporting analyst,"[mi, analyst, reporting, analyst, trainee, exc...",IT Jobs,27500,NaN
244348,developer,"[job, role, web, designer, developer, location...",IT Jobs,20500,NaN

In [30]:
#extract keyword from the tuple

def extract_keyword(text):
    word=[]
    for i in range(len(text)):
        word.append(text[i][0])
    return word

In [31]:
df = df.dropna(subset=['Title','FullDescription','KeyWords'])
df

,Title,FullDescription,Category,SalaryNormalized,KeyWords
31,developer,"[leading, company, provides, stock, market, an...",IT Jobs,32500,"[(developer, 0.3651), (requirements, 0.3608), ..."
32,php developer,"[skilled, senior, php, developer, required, le...",IT Jobs,45000,"[(requirements, 0.4926), (php, 0.397), (skille..."
33,Other,"[senior, website, designer, location, york, ea...",IT Jobs,25000,"[(designers, 0.4585), (requirements, 0.3499), ..."
34,Other,"[company, client, full, service, creative, dri...",IT Jobs,21000,"[(clients, 0.4249), (ambition, 0.223), (managi..."
38,qa engineer,"[expanding, software, consultancy, services, c...",IT Jobs,30000,"[(developers, 0.4428), (requirements, 0.3864),..."
...,...,...,...,...,...
8173,data,"[senior, data, management, business, intellige...",IT Jobs,27321,"[(sql, 0.3629), (deadlines, 0.2023), (organisa..."
8174,support analyst,"[application, support, analyst, microsoft, off...",IT Jobs,87600,"[(applications, 0.4197), (powershell, 0.2906),..."
8175,developer,"[junior, net, developer, banking, east, sussex...",IT Jobs,28500,"[(net, 0.4191), (requirements, 0.3111), (susse..."
8176,technical support,"[oxford, oxfordshire, ukpermanent, globally, r...",IT Jobs,27000,"[(oxford, 0.4543), (patches, 0.1108), (recruit..."
8177,marketing manager,"[marketing, manager, banking, north, yorks, pd...",IT Jobs,51000,"[(manager, 0.4217), (banking, 0.401), (require..."

In [32]:
df['KeyWords']=df['KeyWords'].apply(lambda x: extract_keyword(x))
df['KeyWords']

31      [developer, requirements, markets, cv, mfc, sk...
32      [requirements, php, skilled, services, senior,...
33      [designers, requirements, cv, ecommerce, senio...
34      [clients, ambition, managing, tyne, develop, c...
38      [developers, requirements, cv, expand, qa, con...
                              ...
8173    [sql, deadlines, organisational, skills, senio...
8174    [applications, powershell, enterprise, core, d...
8175    [net, requirements, sussex, graduates, sql, ba...
8176    [oxford, patches, recruitment, hays, infrastru...
8177    [manager, banking, requirements, orgtel, succe...
Name: KeyWords, Length: 1000, dtype: object

In [33]:
df

,Title,FullDescription,Category,SalaryNormalized,KeyWords
31,developer,"[leading, company, provides, stock, market, an...",IT Jobs,32500,"[developer, requirements, markets, cv, mfc, sk..."
32,php developer,"[skilled, senior, php, developer, required, le...",IT Jobs,45000,"[requirements, php, skilled, services, senior,..."
33,Other,"[senior, website, designer, location, york, ea...",IT Jobs,25000,"[designers, requirements, cv, ecommerce, senio..."
34,Other,"[company, client, full, service, creative, dri...",IT Jobs,21000,"[clients, ambition, managing, tyne, develop, c..."
38,qa engineer,"[expanding, software, consultancy, services, c...",IT Jobs,30000,"[developers, requirements, cv, expand, qa, con..."
...,...,...,...,...,...
8173,data,"[senior, data, management, business, intellige...",IT Jobs,27321,"[sql, deadlines, organisational, skills, senio..."
8174,support analyst,"[application, support, analyst, microsoft, off...",IT Jobs,87600,"[applications, powershell, enterprise, core, d..."
8175,developer,"[junior, net, developer, banking, east, sussex...",IT Jobs,28500,"[net, requirements, sussex, graduates, sql, ba..."
8176,technical support,"[oxford, oxfordshire, ukpermanent, globally, r...",IT Jobs,27000,"[oxford, patches, recruitment, hays, infrastru..."
8177,marketing manager,"[marketing, manager, banking, north, yorks, pd...",IT Jobs,51000,"[manager, banking, requirements, orgtel, succe..."

In [34]:
df['KeyWords'] = df['KeyWords'].apply(listToString)
df

,Title,FullDescription,Category,SalaryNormalized,KeyWords
31,developer,"[leading, company, provides, stock, market, an...",IT Jobs,32500,developer requirements markets cv mfc skills a...
32,php developer,"[skilled, senior, php, developer, required, le...",IT Jobs,45000,requirements php skilled services senior cv de...
33,Other,"[senior, website, designer, location, york, ea...",IT Jobs,25000,designers requirements cv ecommerce senior hir...
34,Other,"[company, client, full, service, creative, dri...",IT Jobs,21000,clients ambition managing tyne develop contact...
38,qa engineer,"[expanding, software, consultancy, services, c...",IT Jobs,30000,developers requirements cv expand qa consultan...
...,...,...,...,...,...
8173,data,"[senior, data, management, business, intellige...",IT Jobs,27321,sql deadlines organisational skills senior wor...
8174,support analyst,"[application, support, analyst, microsoft, off...",IT Jobs,87600,applications powershell enterprise core deploy...
8175,developer,"[junior, net, developer, banking, east, sussex...",IT Jobs,28500,net requirements sussex graduates sql banking ...
8176,technical support,"[oxford, oxfordshire, ukpermanent, globally, r...",IT Jobs,27000,oxford patches recruitment hays infrastructure...
8177,marketing manager,"[marketing, manager, banking, north, yorks, pd...",IT Jobs,51000,manager banking requirements orgtel successful...

In [35]:
#df['keywords']=key_words(' '.join(df['FullDescription']))
#df['KeyWords'] = ' '.join(df['FullDescription'].astype(str)).apply(remove_numbers)

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
#compare MultinomialNB GaussianNB
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score, f1_score, precision_score

In [37]:
#predict title

vectorizer = TfidfVectorizer()

X = vectorizer.fit_transform(df['KeyWords'])
y = df['Title']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)
model = MultinomialNB()
model.fit(X_train, y_train)

y_pred=model.predict(X_test)

print(accuracy_score(y_test,y_pred))

0.21

In [38]:
#X

In [39]:
#y_pred

In [40]:
#predict category
#X = vectorizer.fit_transform(df['FullDescription'])
#y = df['Category']

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)
#model = MultinomialNB()
#model.fit(X_train, y_train)

#y_pred=model.predict(X_test)

#print(accuracy_score(y_test,y_pred))

In [41]:
#predict salary
#X = vectorizer.fit_transform(df['FullDescription'])
#y = df['SalaryNormalized']

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)
#model = MultinomialNB()
#model.fit(X_train, y_train)

#y_pred=model.predict(X_test)

#print(accuracy_score(y_test,y_pred))

In [42]:
#describe the most frequent word in such category

#def title_keyword(category):
#    wordcloud = WordCloud(
#                              background_color='white',
#                              #stopwords=stop_words,
#                              max_words=30,
#                              max_font_size=60, 
#                              random_state=42
#                             ).generate(str(df.loc[df['Category']==category,'FullDescription']))
#    print(wordcloud)
#    fig = plt.figure(1)
#    plt.imshow(wordcloud)
#    plt.axis('off')
#    plt.show()

In [43]:
#title_keyword('it jobs')

In [44]:
skill_list = [
    '.NET', '.NET Core', 'Active Directory', 'AI', 'Algorithms', 'Android',
    'Angular', 'Ansible', 'APIs', 'AutoCAD', 'Automated Testing', 'AWS',
    'Azure', 'BDD', 'Big Data', 'Business Intelligence', 'C', 'C#', 'C++',
    'CAD', 'CD', 'Cisco', 'Cloud Platforms', 'Code Reviews', 'Confluence',
    'Continuous Integration', 'CRM', 'CSS', 'Data Analysis', 'Data Modeling',
    'Data Science', 'Data Visualization', 'Data Warehouse', 'Database Design',
    'Design Patterns', 'DevOps', 'DNS', 'Docker', 'ETL', 'Firewalls',
    'FOR EMPLOYERS', 'GCP', 'Git', 'GitHub', 'Go', 'Google Analytics',
    'Graphic design', 'HTML', 'Illustrator', 'InDesign', 'Java', 'JavaScript',
    'Jenkins', 'Jira', 'Kanban', 'Kubernetes', 'Linux', 'Machine Learning',
    'Microservices', 'MongoDB', 'MS Project', 'MySQL', 'Network Switches',
    'Node.js', 'NoSQL', 'OO', 'Photoshop', 'PHP', 'Pivot Tables', 'Power BI',
    'PowerShell', 'PRINCE2', 'Python', 'R', 'React', 'RESTful APIs', 'Revit',
    'SaaS', 'Salesforce', 'SAP', 'Scripting Language', 'Scrum', 'SEO',
    'SharePoint', 'SOLID', 'SQL Server', 'Tableau', 'TDD', 'Terraform',
    'TypeScript', 'UI', 'Unit Testing', 'Unix', 'UX', 'Version Control',
    'Virtualization', 'VMware', 'Vue.js', 'Web Services'
]
#skills need to lower case and remove comma

In [45]:
skill_list = list(map(lowercase, skill_list))
skill_list = list(map(remove_numbers, skill_list))
skill_list = list(map(remove_punctuation, skill_list))
#df['Title'] = df['Title'].apply(remove_numbers)
skill_list

[' net',
 ' net core',
 'active directory',
 'ai',
 'algorithms',
 'android',
 'angular',
 'ansible',
 'apis',
 'autocad',
 'automated testing',
 'aws',
 'azure',
 'bdd',
 'big data',
 'business intelligence',
 'c',
 'c ',
 'c  ',
 'cad',
 'cd',
 'cisco',
 'cloud platforms',
 'code reviews',
 'confluence',
 'continuous integration',
 'crm',
 'css',
 'data analysis',
 'data modeling',
 'data science',
 'data visualization',
 'data warehouse',
 'database design',
 'design patterns',
 'devops',
 'dns',
 'docker',
 'etl',
 'firewalls',
 'for employers',
 'gcp',
 'git',
 'github',
 'go',
 'google analytics',
 'graphic design',
 'html',
 'illustrator',
 'indesign',
 'java',
 'javascript',
 'jenkins',
 'jira',
 'kanban',
 'kubernetes',
 'linux',
 'machine learning',
 'microservices',
 'mongodb',
 'ms project',
 'mysql',
 'network switches',
 'node js',
 'nosql',
 'oo',
 'photoshop',
 'php',
 'pivot tables',
 'power bi',
 'powershell',
 'prince',
 'python',
 'r',
 'react',
 'restful apis',
 'revit',
 'saas',
 'salesforce',
 'sap',
 'scripting language',
 'scrum',
 'seo',
 'sharepoint',
 'solid',
 'sql server',
 'tableau',
 'tdd',
 'terraform',
 'typescript',
 'ui',
 'unit testing',
 'unix',
 'ux',
 'version control',
 'virtualization',
 'vmware',
 'vue js',
 'web services']