In [1]:
#scrip more tech job description?
#!pip install wordcloud
#!pip install keybert

In [2]:
import pandas as pd
import string

In [3]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [4]:
from wordcloud import WordCloud, ImageColorGenerator
import matplotlib.pyplot as plt

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
#load the data from the other directory
df=pd.read_csv('../raw_data/Train_rev1.csv')

In [7]:
#drop unusefull info
df=df.drop(columns=['Id',
                    'LocationRaw',
                    'LocationNormalized',
                    'ContractType',
                    'ContractTime',
                    'Company',
                    'SalaryRaw',
                    'SourceName'])
df=df[df['Category']=='IT Jobs']
df

,Title,FullDescription,Category,SalaryNormalized
31,C/C++ Developer,A leading company that provides stock market a...,IT Jobs,32500
32,Senior PHP Developer,A skilled Senior PHP Developer is required by ...,IT Jobs,45000
33,Senior Website Designer,"SENIOR WEBSITE DESIGNER Location: York, East Y...",IT Jobs,25000
34,Business Development Manager,"The Company: Our client are a full service, cr...",IT Jobs,21000
38,QA Engineer,An expanding software and consultancy services...,IT Jobs,30000
...,...,...,...,...
244322,Mid / Senior Software Developer Shropshire ****k,Mid/Senior Software Developer Shropshire ****k...,IT Jobs,32500
244325,Junior Trainer,Junior IT Trainer Top 20 UK Law Firm Central...,IT Jobs,32500
244334,PHP Software Developer,PHP Software Developer Glasgow Eden Scott s cl...,IT Jobs,27500
244336,MI Analyst (Reporting Analyst) Trainee,MI Analyst (Reporting Analyst) Trainee. Excel...,IT Jobs,27500
244348,Web Designer / Developer,Job Role: Web Designer/Developer Location: Che...,IT Jobs,20500

In [8]:
#drop null rows
df=df.dropna(axis=0, how='any')
#df

In [9]:
df.shape

(38483, 4)

In [10]:
# remove punctuation
def remove_punctuation(text):
    for punctuation in string.punctuation: 
        text = text.replace(punctuation, ' ') 
    return text

In [11]:
df['Title'] = df['Title'].astype(str).apply(remove_punctuation)
df['FullDescription'] = df['FullDescription'].astype(str).apply(remove_punctuation)
df

,Title,FullDescription,Category,SalaryNormalized
31,C C Developer,A leading company that provides stock market a...,IT Jobs,32500
32,Senior PHP Developer,A skilled Senior PHP Developer is required by ...,IT Jobs,45000
33,Senior Website Designer,SENIOR WEBSITE DESIGNER Location York East Y...,IT Jobs,25000
34,Business Development Manager,The Company Our client are a full service cr...,IT Jobs,21000
38,QA Engineer,An expanding software and consultancy services...,IT Jobs,30000
...,...,...,...,...
244322,Mid Senior Software Developer Shropshire k,Mid Senior Software Developer Shropshire k...,IT Jobs,32500
244325,Junior Trainer,Junior IT Trainer Top 20 UK Law Firm Central...,IT Jobs,32500
244334,PHP Software Developer,PHP Software Developer Glasgow Eden Scott s cl...,IT Jobs,27500
244336,MI Analyst Reporting Analyst Trainee,MI Analyst Reporting Analyst Trainee Excel...,IT Jobs,27500
244348,Web Designer Developer,Job Role Web Designer Developer Location Che...,IT Jobs,20500

In [12]:
#lower case of all context
def lowercase (text): 
    lowercased = text.lower() 
    return lowercased

In [13]:
df['Title'] = df['Title'].astype(str).apply(lowercase)
df['FullDescription'] = df['FullDescription'].astype(str).apply(lowercase)
df

,Title,FullDescription,Category,SalaryNormalized
31,c c developer,a leading company that provides stock market a...,IT Jobs,32500
32,senior php developer,a skilled senior php developer is required by ...,IT Jobs,45000
33,senior website designer,senior website designer location york east y...,IT Jobs,25000
34,business development manager,the company our client are a full service cr...,IT Jobs,21000
38,qa engineer,an expanding software and consultancy services...,IT Jobs,30000
...,...,...,...,...
244322,mid senior software developer shropshire k,mid senior software developer shropshire k...,IT Jobs,32500
244325,junior trainer,junior it trainer top 20 uk law firm central...,IT Jobs,32500
244334,php software developer,php software developer glasgow eden scott s cl...,IT Jobs,27500
244336,mi analyst reporting analyst trainee,mi analyst reporting analyst trainee excel...,IT Jobs,27500
244348,web designer developer,job role web designer developer location che...,IT Jobs,20500

In [14]:
#remove numbers
def remove_numbers (text):
    words_only = ''.join([i for i in text if not i.isdigit()])
    return words_only

In [15]:
df['Title'] = df['Title'].astype(str).apply(remove_numbers)
df['FullDescription'] = df['FullDescription'].astype(str).apply(remove_numbers)
df

,Title,FullDescription,Category,SalaryNormalized
31,c c developer,a leading company that provides stock market a...,IT Jobs,32500
32,senior php developer,a skilled senior php developer is required by ...,IT Jobs,45000
33,senior website designer,senior website designer location york east y...,IT Jobs,25000
34,business development manager,the company our client are a full service cr...,IT Jobs,21000
38,qa engineer,an expanding software and consultancy services...,IT Jobs,30000
...,...,...,...,...
244322,mid senior software developer shropshire k,mid senior software developer shropshire k...,IT Jobs,32500
244325,junior trainer,junior it trainer top uk law firm central l...,IT Jobs,32500
244334,php software developer,php software developer glasgow eden scott s cl...,IT Jobs,27500
244336,mi analyst reporting analyst trainee,mi analyst reporting analyst trainee excel...,IT Jobs,27500
244348,web designer developer,job role web designer developer location che...,IT Jobs,20500

In [16]:
#remove stopwords
from nltk.corpus import stopwords 
from nltk import word_tokenize

stop_words = set(stopwords.words('english')) 

# Create function
def remove_stopwords (text):
    tokenized = word_tokenize(text)
    without_stopwords = [word for word in tokenized if not word in stop_words]
    return without_stopwords

In [17]:
print(stop_words)

{'about', 'won', 'few', 'all', 'haven', "couldn't", 'is', 'ourselves', "wasn't", 'how', "don't", "it's", 'into', 'where', 'so', 'hadn', 'had', 'itself', 'most', 'y', 'over', 'aren', "you'll", 'very', 'do', 'doing', 'my', 'yours', "that'll", 'any', 'ours', 'ain', 'just', 'doesn', 'myself', 'up', "you're", 'hasn', 't', 'once', 'her', 'more', 'yourself', 'and', "won't", 'own', 'to', 'am', 'on', 'a', "you've", 'from', 'nor', 'its', 'those', 'which', 'until', "didn't", "shouldn't", "hasn't", 'only', 'mustn', 'by', 'been', 'because', 'for', 'below', 'himself', 'this', 'same', 'no', 'while', 'against', 'that', 'such', 'wouldn', 'between', 'during', 'each', "needn't", 'but', "doesn't", 'not', 'before', 'm', 'further', 'o', 'our', 'off', 'be', 'i', 'after', 've', 'needn', 'or', 'theirs', 'didn', 'have', "haven't", 'other', 'does', 'here', 'as', 'both', 'the', "mightn't", "wouldn't", 'she', 'now', 'them', 'some', "should've", 'don', 'his', 'wasn', 'your', 'can', 'out', 'should', 'we', 'why', 'above', 'll', 'of', 'ma', 'yourselves', 'in', 'weren', 'him', 'who', 'it', 're', "shan't", 'there', 'then', 'herself', 'at', 'being', 'they', 'with', 'again', 'themselves', "weren't", 'you', 'did', 'too', 'shan', 'he', "you'd", 'through', 'were', 'having', 'down', "aren't", 'me', 'will', 'couldn', 's', 'under', 'an', 'd', "mustn't", 'whom', 'when', "hadn't", 'shouldn', 'if', 'has', 'than', 'mightn', 'are', 'their', 'what', 'was', "isn't", 'isn', 'these', "she's", 'hers'}

In [18]:
df['Title'] = df['Title'].astype(str).apply(remove_stopwords)
df['FullDescription'] = df['FullDescription'].astype(str).apply(remove_stopwords)
df

,Title,FullDescription,Category,SalaryNormalized
31,"[c, c, developer]","[leading, company, provides, stock, market, an...",IT Jobs,32500
32,"[senior, php, developer]","[skilled, senior, php, developer, required, le...",IT Jobs,45000
33,"[senior, website, designer]","[senior, website, designer, location, york, ea...",IT Jobs,25000
34,"[business, development, manager]","[company, client, full, service, creative, dri...",IT Jobs,21000
38,"[qa, engineer]","[expanding, software, consultancy, services, c...",IT Jobs,30000
...,...,...,...,...
244322,"[mid, senior, software, developer, shropshire, k]","[mid, senior, software, developer, shropshire,...",IT Jobs,32500
244325,"[junior, trainer]","[junior, trainer, top, uk, law, firm, central,...",IT Jobs,32500
244334,"[php, software, developer]","[php, software, developer, glasgow, eden, scot...",IT Jobs,27500
244336,"[mi, analyst, reporting, analyst, trainee]","[mi, analyst, reporting, analyst, trainee, exc...",IT Jobs,27500
244348,"[web, designer, developer]","[job, role, web, designer, developer, location...",IT Jobs,20500

In [19]:
#skip for now

#lemmatize
#from nltk.stem import WordNetLemmatizer

#def lemma(text):
#    lemmatizer = WordNetLemmatizer() # Initiate lemmatizer
#    lemmatized = [lemmatizer.lemmatize(word) for word in text] # Lemmatize
#    lemmatized_string = " ".join(lemmatized)
#    return lemmatized_string

In [20]:
#skip for now

#df['Title'] = df['Title'].astype(str).apply(lemma)
#df['FullDescription'] = df['FullDescription'].astype(str).apply(lemma)
#df

In [21]:
df['Category'].value_counts()

IT Jobs    38483
Name: Category, dtype: int64

In [22]:
from keybert import KeyBERT

kw_model = KeyBERT()

#create a new column of keywords
def key_words(text):
    #keywords = kw_model.extract_keywords(text)
    keywords = kw_model.extract_keywords(text,keyphrase_ngram_range=(1, 1), stop_words='english', use_mmr=True, diversity=0.5,top_n=10)
    return keywords

2022-02-22 21:05:06.279111: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-02-22 21:05:06.279158: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [35]:
def listToString(text): 

    str1 = " " 
    
    # return string  
    return (str1.join(text))

In [26]:
#df['keywords']=df['FullDescription'].iloc[3].apply(key_words)
#a=key_words(df['FullDescription'].iloc[3])
' '.join(df['FullDescription'].iloc[3])

a=key_words(' '.join(df['FullDescription'].iloc[10]))
a

[('unix', 0.3962),
 ('qualifications', 0.3446),
 ('agile', 0.3388),
 ('engineering', 0.3354),
 ('configuration', 0.2266),
 ('uml', 0.2394),
 ('xamp', 0.2819),
 ('keywords', 0.1932),
 ('adaptability', 0.1932),
 ('fleet', 0.1646)]

In [ ]:
df['KeyWords'] = df['FullDescription'].apply(listToString).apply(key_words)
df

In [ ]:
df['KeyWords'] = df['KeyWords'].apply(key_words)
df

In [ ]:
df['Title'] = df['Title'].astype(str).apply(remove_numbers)

In [31]:
#df['keywords']=key_words(' '.join(df['FullDescription']))
df['KeyWords'] = ' '.join(df['FullDescription'].astype(str)).apply(remove_numbers)

AttributeError: 'str' object has no attribute 'apply'

In [ ]:
doc = df['FullDescription'].iloc[3]
kw_model = KeyBERT()
keywords = kw_model.extract_keywords(doc)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
#compare MultinomialNB GaussianNB
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score, f1_score, precision_score

In [ ]:
#predict title

#vectorizer = TfidfVectorizer()

#X = vectorizer.fit_transform(df['FullDescription'])
#y = df['Title']

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)
#model = MultinomialNB()
#model.fit(X_train, y_train)

#y_pred=model.predict(X_test)

#print(accuracy_score(y_test,y_pred))

In [ ]:
#X

In [ ]:
#y_pred

In [ ]:
#predict category
#X = vectorizer.fit_transform(df['FullDescription'])
#y = df['Category']

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)
#model = MultinomialNB()
#model.fit(X_train, y_train)

#y_pred=model.predict(X_test)

#print(accuracy_score(y_test,y_pred))

In [ ]:
#predict salary
#X = vectorizer.fit_transform(df['FullDescription'])
#y = df['SalaryNormalized']

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)
#model = MultinomialNB()
#model.fit(X_train, y_train)

#y_pred=model.predict(X_test)

#print(accuracy_score(y_test,y_pred))

In [ ]:
#describe the most frequent word in such category

#def title_keyword(category):
#    wordcloud = WordCloud(
#                              background_color='white',
#                              #stopwords=stop_words,
#                              max_words=30,
#                              max_font_size=60, 
#                              random_state=42
#                             ).generate(str(df.loc[df['Category']==category,'FullDescription']))
#    print(wordcloud)
#    fig = plt.figure(1)
#    plt.imshow(wordcloud)
#    plt.axis('off')
#    plt.show()

In [ ]:
#title_keyword('it jobs')

In [ ]:
skill_list = [
    '.NET', '.NET Core', 'Active Directory', 'AI', 'Algorithms', 'Android',
    'Angular', 'Ansible', 'APIs', 'AutoCAD', 'Automated Testing', 'AWS',
    'Azure', 'BDD', 'Big Data', 'Business Intelligence', 'C', 'C#', 'C++',
    'CAD', 'CD', 'Cisco', 'Cloud Platforms', 'Code Reviews', 'Confluence',
    'Continuous Integration', 'CRM', 'CSS', 'Data Analysis', 'Data Modeling',
    'Data Science', 'Data Visualization', 'Data Warehouse', 'Database Design',
    'Design Patterns', 'DevOps', 'DNS', 'Docker', 'ETL', 'Firewalls',
    'FOR EMPLOYERS', 'GCP', 'Git', 'GitHub', 'Go', 'Google Analytics',
    'Graphic design', 'HTML', 'Illustrator', 'InDesign', 'Java', 'JavaScript',
    'Jenkins', 'Jira', 'Kanban', 'Kubernetes', 'Linux', 'Machine Learning',
    'Microservices', 'MongoDB', 'MS Project', 'MySQL', 'Network Switches',
    'Node.js', 'NoSQL', 'OO', 'Photoshop', 'PHP', 'Pivot Tables', 'Power BI',
    'PowerShell', 'PRINCE2', 'Python', 'R', 'React', 'RESTful APIs', 'Revit',
    'SaaS', 'Salesforce', 'SAP', 'Scripting Language', 'Scrum', 'SEO',
    'SharePoint', 'SOLID', 'SQL Server', 'Tableau', 'TDD', 'Terraform',
    'TypeScript', 'UI', 'Unit Testing', 'Unix', 'UX', 'Version Control',
    'Virtualization', 'VMware', 'Vue.js', 'Web Services'
]
#skills need to lower case and remove comma

In [ ]:
skill_list = list(map(lowercase, skill_list))
skill_list = list(map(remove_numbers, skill_list))
skill_list = list(map(remove_punctuation, skill_list))
#df['Title'] = df['Title'].apply(remove_numbers)
skill_list